@import 'fonts';
@import 'variables';
@import 'mixins';

html {
	font: {
		family: verdana;
		size: 18px;
	}
}

body {
	background-color: $black;
	background-image: url(../img/opening.jpg);
	background-size: cover;
	color: $text;
	h1 {
		font: {
			family: $headerFont;
			size: 125px;
		}
		margin: 0;
		@include text-shadow;
	}
	h2 {
		font: {
			family: $detailFont;
			size: 30px;
		}
		@include text-shadow;
	}
}


.wrapper {
	margin-top: 50px;
	.story-block {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		#game-intro {
			#get-player-name {
				@include hide;
			}
			#welcome-player {
				@include hide;
			}
			.game-rules {
				@include hide;
			}
			.start-game {
				@include hide;
			}
		}
	}
}

#refusal {
	@include hide;
}