@import 'fonts';
@import 'variables';
@import 'mixins';

html {
	font-size: 100%;
}

body {
	background-color: $black;
	background-image: url(../img/opening.jpg);
	background-size: cover;
	color: $text;
	h1 {
		font: {
			family: '28days';
			size: 8rem;
		}
		margin: 0;
	}
	h2 {

	}
}


.wrapper {
	.story-block {
		background-color: rgba(0,0,0,0.3);
		box-shadow:26px 10px 93px 16px rgba(0,0,0,0.75);
		width: 90%;
		margin: 0 auto;
		text-align: center;
		#game-intro {
			#get-player-name {
				@include hide;
			}
			#welcome-player {
				@include hide;
			}
			.game-rules {
				@include hide;
			}
			.start-game {
				@include hide;
			}
		}
	}
}

#refusal {
	@include hide;
}